Node.js
node_modules/
build/

# Environment variables
.env
# But keep the example template
!.env.example

.github/workflows/google-cloud-run.yml
.github/workflows/firebase-hosting.yml
Dockerfile
backend/venv

# Firebase
serviceAccountKey.json
backend/__pycache__/
backend/__init__.py

